/* displayed properties will be slightly different in code-pen as other CSS files are not included.
 */

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.calculator{
     background-color: black;
     border-radius: 8px;
     padding: 10px;
     width: 100px;
}
.calculator span{
     display: block;
     background-color: white;
     height: 20px;
     width: 80px;
     margin: 2px;
     margin-top: 20px;
     margin-bottom: 5px;
     text-align: right;
}
.button{
     margin: 2px;
     background-color: white;
     border-radius: 50%;
     width: 20px;
     height: 20px;
     cursor: pointer;
}
div{
     text-align: center;
}
.bottom {
     display: flex;
     flex-direction: column;
}
.row{
     display: flex;
}
   
.reset{
     margin-top: 1rem;
     cursor: pointer;
}

/* Links */
.links{
     padding: 4px;
     background-color: rgba(0, 0, 0, .9);
     border-radius:  5px 0 0 5px;     
     position: fixed;
     bottom: 0;
     right: 0;
}
.links *{
     display: flex;
     justify-content: center;
     align-items: flex-end;
     color: #a2a2a2;
     width: fit-content;
     text-decoration: none;
}
.icons *{
     padding: 0 2% 0 2%;
     font-size: 20px;
}
.links a:hover {
     color: #49bf9d;
     text-decoration: none;
}